<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
</head>
<body>

<br>
<span></span>
<ul id="example-1">
    <li v-for="item in items" :key="item.message">
        {{ item.message }}
    </li>
</ul>

<br>
<span></span>
<ul id="example-2">
    <li v-for="(item, index) in items">
        {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
</ul>
<!--<div v-for="item of items"></div>-->

<br>
<span></span>
<div id="v-for-object">
    <ul  class="demo">
        <li v-for="value in object">
            {{ value }}
        </li>
    </ul>
    <!--可以提供第二个的参数为 property 名称 (也就是键名)-->
    <div v-for="(value, name) in object">
        {{ name }}: {{ value }}
    </div>
    <!--还可以用第三个参数作为索引-->
    <div v-for="(value, name, index) in object">
        {{ index }}. {{ name }}: {{ value }}
    </div>
    <!--在遍历对象时，会按 Object.keys() 的结果遍历，
    但是不能保证它的结果在不同的 JavaScript 引擎下都一致。-->
</div>

<!--维护状态-->
<!--当 Vue 正在更新使用 v-for 渲染的元素列表时，它默认使用“就地更新”的策略。
如果数据项的顺序被改变，Vue 将不会移动 DOM 元素来匹配数据项的顺序，
而是就地更新每个元素，并且确保它们在每个索引位置正确渲染。这个类似 Vue 1.x 的 track-by="$index"。-->
<!--这个默认的模式是高效的，但是只适用于不依赖子组件状态或临时 DOM 状态 (例如：表单输入值) 的列表渲染输出。-->


<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    var example1 = new Vue({
        el: '#example-1',
        data: {
            items: [
                {message: 'Foo'},
                {message: 'Bar'}
            ]
        }
    });

    var example2 = new Vue({
        el: '#example-2',
        data: {
            parentMessage: 'Parent',
            items: [
                {message: 'Foo'},
                {message: 'Bar'}
            ]
        }
    });

    var exampleObject = new Vue({
        el: '#v-for-object',
        data: {
            object: {
                title: 'How to do lists in Vue',
                author: 'Jane Doe',
                publishedAt: '2016-04-10'
            }
        }
    });
</script>
</body>
</html>