<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--自定义事件也可以用于创建支持 v-model 的自定义输入组件。记住：-->

<div>
    <input v-model="searchText">

    <br>
    <span></span>
    <input
            v-bind:value="searchText"
            v-on:input="searchText = $event.target.value"
    >
</div>

<br>
<span> </span>
<div>
    <custom-input
            v-bind:value="searchText"
            v-on:input="searchText = $event"
    ></custom-input>

    <br>
    <custom-input v-model="searchText"></custom-input>
</div>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    Vue.component('custom-input', {
        props: ['value'],
        template: `
    <input
      v-bind:value="value"
      v-on:input="$emit('input', $event.target.value)"
    >
  `
    })
    var app = new Vue({
        // element
        el:'#app',
        data:{
            message:'hello word',
            content:'vue is mvvm'
        }
    })
</script>

</body>
</html>