<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for array update</title>
</head>
<body>
<!-- 变更数组 -->
<span>变更数组</span>
<code>
    push()
    pop()
    shift()
    unshift()
    splice()
    sort()
    reverse()
</code>
<!-- 替换数组 -->
<br>
<span> 替换数组 </span>
<code>
    filter()、concat() 和 slice()。
</code>
<!--由于 JavaScript 的限制，Vue 不能检测数组和对象的变化。深入响应式原理中有相关的讨论。-->

<br>
<span> 过滤 排序 -- 计算属性</span>
可以创建一个计算属性，来返回过滤或排序后的数组。
<div id="v-for-filter">
    <li v-for="n in evenNumbers">{{ n }}</li>
</div>

<br>
<span> 过滤 排序 </span>
<!--在计算属性不适用的情况下 (例如，在嵌套 v-for 循环中) 你可以使用一个方法-->
<div id="v-for-filter2">
    <br>
    <span> 过滤 排序 -- 方法</span>
    <ul v-for="set in sets">
        <li v-for="n in even(set)">{{ n }}</li>
    </ul>

    <!--v-for 也可以接受整数。在这种情况下，它会把模板重复对应次数。-->
    <br>
    <span> v-for 整数</span>
    <div>
        <span v-for="n in 10">{{ n }} </span>
    </div>
</div>



<script src="../../node_modules/vue/dist/vue.js"></script>
<script>
    var forFilter = new Vue({
        // element
        el:'#v-for-filter',
        data: {
            numbers: [ 1, 2, 3, 4, 5 ]
        },
        computed: {
            evenNumbers: function () {
                return this.numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        }
    });

    var forFilter2 = new Vue({
        // element
        el:'#v-for-filter2',
        data: {
            sets: [[ 1, 2, 3, 4, 5 ], [6, 7, 8, 9, 10]]
        },
        methods: {
            even: function (numbers) {
                return numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        }
    });

</script>
</body>
</html>